<div >
    <div class="jumbotron">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top:20px; width:100%">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class=""></li>
              <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
              <li class="" data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              <div class="item">
                <img src="../uploads/image/system_image/1.jpg"  alt="First slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1 >Make More Friends</h1>
                    <p>Join us to make more friends and get lots of beautiful images!</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign Up Now</a></p>
                  </div>
                </div>
              </div>

              <div class="item active">
                <img src="../uploads/image/system_image/2.jpg" alt="Second slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Image Majik</h1>
                    <p>Start your amazing image trip! Image Majik provides you excellent filters. Join us and make your images more attractable!</p>
                    <p><a class="btn btn-lg btn-primary" href="<%=new_user_registration_path%>" role="button">Sign Up Now</a></p>
                  </div>
                </div>
              </div>

              <div class="item" >
                <img src="../uploads/image/system_image/3.jpg" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1 >Want to make a good image?</h1>
                    <p style="color:black">Join us! Lots of filters are provided for you to manipulate your images. </p>
                    <p><a class="btn btn-lg btn-primary" href="<%=new_user_registration_path%>" role="button">Sign Up Now</a></p>
                  </div>
                </div>
              </div>
            </div>
         		<a class="left carousel-control" style="opacity: 0.2" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          	<a class="right carousel-control" style="opacity: 0.2" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            
        </div>
    </div>
</div>
    <div class="footer">
      <div class="container" style="text-align:center">
        <p class="text-muted">All right reserved</p>
      </div>
    </div>
  
